{"is_source_file": true, "file_id": 16, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "c3a6112daf1752eb38695542b2d056d3", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe/ios/Flutter/Generated.xcconfig", "knowledge_revision": 15}